<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581868426889-sh1r1pvm1cgpb1h23mj9bc7krmmq6jvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581868426889-sh1r1pvm1cgpb1h23mj9bc7krmmq6jvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDOk-xxXseRXC06Sn1AUCe-MQ3FF1R1xCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>581868426889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meis.demo</string>
	<key>PROJECT_ID</key>
	<string>meis-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>meis-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581868426889:ios:9bd0b8405089c374b79858</string>
</dict>
</plist>